div .under-div {
    font-family: "Juana";
    display: inline-block;
    border: 1.5px solid #02838f;
    padding: 5px;
    border-radius: 5px;
}

p {
    margin: 0;
    padding: 0
}

.number {
    text-align: center;
    font-weight: bolder;
}
